body, h1, h2, h3, h4, p, figure, blockquote, dl, dd { margin-block-end: 0 }
input, button, textarea, select { font-family: inherit; font-size: inherit }
a:not([class]) { text-decoration-skip-ink: auto; color: currentColor }
ul[role='list'], ol[role='list'] { list-style: none }
*, *::before, *::after { box-sizing: border-box; }
body { min-height: 100vh; line-height: 1.5 }
h1, h2, h3, h4, button, input, label { line-height: 1.1 }
h1, h2, h3, h4 { text-wrap: balance }
img, picture { max-width: 100%; display: block }
textarea:not([rows]) { min-height: 10em }
:target { scroll-margin-block: 5ex }
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none
}
